@import "style.css";
@import "reset.css";

:root {
    --app-height: #121213;
    --gray-900: #121214;
    --gray-300: #444448;
  
    --primary-200: #fcd085;
    --primary-400: #ffbc48;
    font-size: 62.5%;
  }

@media (max-width: 36rem) {
    ul {
      grid-template-columns: 1fr;
    }
  }
